			.datepicker-days table .disabled-date.day {
			  background-color: #663399;
			  color: #fff;
			}

			.datepicker table tr td.disabled, 
			.datepicker table tr td.disabled:hover {
			  background: #8447c2;
			  color: #fff;
			}